{% extends 'base.html' %}
{% block title %} Home{% endblock %}
{% block body %}

<!--JUMBOTRON-->
<div class="p-5 mb-4 badge-light text-black-50 rounded-3" style="background-color: #c2c4c8">
    <!--FORM-->
    <div class="container my-3">
        <h2>Update your Todo</h2>
        <form action="/update/{{todo.sno}}" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Todo title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{todo.title}}"
                    aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Todo decription</label>
                <input type="text" class="form-control" id="desc" value="{{todo.desc}}" name="desc">
            </div>

            <button type="submit" class="btn btn-dark">Update</button>
        </form>
    </div>
</div>

<!--DISPLAY TODO LIST-->


{% endblock body %}